.frameChild {
  position: relative;
  width: 247.7px;
  height: 228.8px;
}
.theEasyWay {
  color: var(--electric-green-primary);
}
.earnMoneyTheContainer {
  position: relative;
  letter-spacing: -2.1px;
  line-height: 76.88px;
}
.noComplexityOf {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 32.85px;
  color: var(--neutrals-grey-4);
  text-align: left;
}
.earnMoneyTheEasyWayParent,
.groupParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.groupParent {
  gap: var(--gap-21xl);
  text-align: center;
}
.frameIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 239px;
  overflow: hidden;
  opacity: 0.55;
  mix-blend-mode: multiply;
}
.shareYourYour {
  position: absolute;
  bottom: 39px;
  left: 26px;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  width: 239px;
}
.frameItem,
.textureIcon {
  position: absolute;
  top: 33px;
  left: 30px;
  width: 103.7px;
  height: 90.4px;
}
.textureIcon {
  height: 101.24%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -1.24%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: overlay;
}
.frameContainer {
  position: relative;
  background-color: var(--neutrals-grey-9);
  width: 323px;
  height: 323px;
  overflow: hidden;
  flex-shrink: 0;
}
.inviteFriendsTo {
  position: absolute;
  bottom: 39px;
  left: 26px;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  width: 264px;
}
.frameInner {
  position: absolute;
  height: 29.78%;
  width: 33.62%;
  top: 11.15%;
  right: 56.66%;
  bottom: 59.07%;
  left: 9.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trade {
  margin: 0;
}
.groupIcon {
  position: absolute;
  height: 32.35%;
  width: 30.03%;
  top: 9.6%;
  right: 61.92%;
  bottom: 58.05%;
  left: 8.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-13xl);
}
.startEarningNow {
  position: relative;
  text-transform: uppercase;
}
.startEarningNowWrapper {
  border-radius: var(--br-5xs);
  background: linear-gradient(85.85deg, #d4f938 29.17%, #32d875);
  box-shadow: 0 0 16px rgba(168, 239, 156, 0.8);
  backdrop-filter: blur(10px);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-29xl);
  box-sizing: border-box;
  font-size: var(--mobile-title-3-medium-size);
  color: var(--color-black);
}
.frameParent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-121xl) 0;
  gap: var(--gap-63xl);
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--white);
  font-family: var(--mobile-caption-1-medium);
}
